
<nav-panel header="Zeiterfassung">
    <div class="col-sm-6">
        records
    </div>
    <div class="col-sm-6">
        <form class="form-group" #form="ngForm">
            <div class="form-group">
                <label for="project">Projekt</label>
                <input type="text" name="project" id="project" class="form-control" [(ngModel)]="recordService.record.project">
            </div>
            <div class="form-group">
                <label for="desc">Beschreibung</label>
                <input type="text" id="desc" name="desc" class="form-control" [(ngModel)]="recordService.record.description">
            </div>
            <div class="form-group">
                <label for="start">Start</label>
                <input type="text" id="start" name="start" class="form-control" [(ngModel)]="recordService.record.startTime">
            </div>
            <div class="form-group">
                <label for="end">Ende</label>
                <input type="text" id="end" name="end" class="form-control" [(ngModel)]="endTime">
            </div>
            
            <div class="col-md-offset-2 col-md-8" *ngIf="!recordService.record.endTime">
                <button type="submit" class="button button-lg" on-click="start()" *ngIf="!recordService.record.id && !recordService.record.endTime">start</button>
                <button type="submit" class="button button-lg" on-click="stop()" *ngIf="recordService.record.id && !recordService.record.endTime">stop</button>
            </div>
            
            <div class="col-md-offset-2 col-md-8" *ngIf="recordService.record.endTime">
                <button type="submit" class="button button-lg" on-click="save()" >save</button>
                <button type="submit" class="button button-lg" on-click="clear()">clear</button>
            </div>
        </form>
    </div>
</nav-panel>
