<nav-panel header="Zeiterfassung">
    <div class="col-lg-6 col-sm-12">
        <form class="form-group" #form="ngForm">
            <div class="form-group">
                <label for="project">Projekt</label>
                <input type="text" name="project" id="project" class="form-control" [(ngModel)]="recordService.record.project" [required]>
            </div>
            <div class="form-group">
                <label for="desc">Beschreibung</label>
                <input type="text" id="desc" name="desc" class="form-control" [(ngModel)]="recordService.record.description">
            </div>
            <div class="form-group">
                <label for="start">Start</label>
                <r-dateinput type="text" data="rdate" id="start" name="start" class="form-control" [(ngModel)]="recordService.record.startTime"></r-dateinput>
            </div>
            <div class="form-group">
                <label for="end">Ende</label>
                <r-dateinput type="text" id="end" name="end" class="form-control" [(ngModel)]="endTime"></r-dateinput>
            </div>

            <div class="col-md-offset-2 col-md-8" *ngIf="!recordService.record.endTime">
                <button type="submit" class="button button-lg" on-click="start()" *ngIf="!recordService.record.id && !recordService.record.endTime">start</button>
                <button type="submit" class="button button-lg" on-click="stop()" *ngIf="recordService.record.id && !recordService.record.endTime">stop</button>
            </div>

            <div class="col-md-offset-2 col-md-8" *ngIf="recordService.record.endTime">
                <button type="submit" class="button button-lg" on-click="save()" >save</button>
                <button type="submit" class="button button-lg" on-click="clear()">clear</button>
            </div>
        </form>
    </div>
    <div class="col-lg-6 col-sm-12">
        <table>
            <thead>
                <tr>
                    <th>Projekt</th>
                    <th>Beschreibung</th>
                    <th>Start</th>
                    <th>Ende</th>
                    <th>Zeit</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let r of records">
                    <th>{{r.project}}</th>
                    <th>{{r.description}}</th>
                    <th>{{r.startTime | date:'dd.MM HH:mm'}}</th>
                    <th>{{r.endTime | date:'dd.MM HH:mm'}}</th>
                    <th></th>
                    <th></th>
                </tr>
            </tbody>
        </table>
    </div>
</nav-panel>
