* { 
    padding: 0; margin: 0;
}

html, body, #fullheight {
    min-height: 100%;
    height: 100%;
}

.panel > .image img{
    background-size: cover;
}

.root-panel{
    text-align: center;
    margin-left: auto;
    margin-bottom: auto;
}