#filter-form{
    margin-bottom: 10em;
}

.form-group > button{
    margin-top: 13px;
}

.export-header{
    font-weight: bold;
}

tr td.export-cell:nth-child(1){
    width: 100px;
}
tr td.export-cell:nth-child(2){
    width: 300px;
}
tr td.export-cell:nth-child(3){
    width: 100px;
}
tr td.export-cell:nth-child(4){
    width: 400px;
}

td, tr{
    background-color: white;
    border: none;
}

.export-cell
{
    padding:5px 0px;
}

.plusminus{
    position: absolute;
    top: -12;
    right: 10;
}

.input-wbutton{
    position: relative;
}

.plusminus button{
    padding: 2px 2px 2px 6px;
    height: 2em;
}

@media print{
    #filter-form{
        display: none;
    }    
}