.panel > .image{
    margin-top: 2em;
    min-height: 50vh;
    height: 50vh;
}

h1>img {
    padding-bottom: 0.2em;
}

@media (min-width: 992px) { 
    .panel > .image{
        min-height: 85vh;
        height: 85vh;
    }
}
