<article id="home" class="panel root-panel">
    <div class="image main-logo">
        <img src="./assets/clock.jpg" alt="" />
        </div>
        <div class="content">
            <div class="inner">
                <header>
                    <h1>ProTime-<img src="../../assets/images/logoR.png" alt="-R"></h1>
                    <p>Project-Time-Recording-Tool</p>
                </header>
                <nav id="nav">
                    <ul class="actions vertical special">
                        <li><a class="button" routerLink="/record">Zeiterfassung</a></li>
                        <li><a href="#about" class="button">About</a></li>
                        <li><a class="button" on-click="logout()" *ngIf="firebase.user">Logout</a></li>
                        <li><a class="button" routerLink="/login" *ngIf="!firebase.user">Login</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </article>