<article id="home" class="panel special">
    <div class="image main-logo">
        <img src="./assets/clock.jpg" alt="" />
        </div>
        <div class="content">
            <div class="inner">
                <header>
                    <h1>TimeTable</h1>
                    <p>Project-Time-Recording-Tool</p>
                </header>
                <nav id="nav">
                    <ul class="actions vertical special spinY">
                        <li><a href="#work" class="button">Work</a></li>
                        <li><a href="#about" class="button">About</a></li>
                        <li><a href="#contact" class="button">Contact</a></li>
                        <!--<li><a href="#elements" class="button">Elements</a></li>-->
                    </ul>
                </nav>
                <ul class="icons">
                    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
                    <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
                </ul>
            </div>
        </div>
    </article>